<body>
    
<footer class="footer bg-secondary p-5">
    <div class="footer-text row gap-5 text-white justify-content-center">
      <div class="col-auto">
        <h3 class="fw-bold">Get to Know Us</h3>
        <div><a href="" class="text-decoration-none">Careers</a></div>
        <div><a href="" class="text-decoration-none">Blog</a></div>
         <div><a href="" class="text-decoration-none">About Amazon</a></div>
        <div><a href="" class="text-decoration-none">Investor Relations</a></div>
        <div><a href="" class="text-decoration-none">Amazon Devices</a></div>
        <div><a href="" class="text-decoration-none">Amazon Science</a></div>
      </div>
      <div class="col-auto">
        <h3 class="fw-bold">Make Money with Us</h3>
        <div><a href="" class="text-decoration-none">Sell products on Amazon</a></div>
        <div><a href="" class="text-decoration-none">Sell on Amazon Business</a></div>
         <div><a href="" class="text-decoration-none">Sell Apps on Amazon</a></div>
        <div><a href="" class="text-decoration-none">Become an affiliate</a></div>
        <div><a href="" class="text-decoration-none">Advertise your products</a></div>
        <div><a href="" class="text-decoration-none">Self-publish with us</a></div>
      </div>
      <div class="col-auto">
        <h3 class="fw-bold">Amazon Payment Products</h3>
        <div><a href="" class="text-decoration-none">Amazon business cards</a></div>
        <div><a href="" class="text-decoration-none">Shop with point</a></div>
         <div><a href="" class="text-decoration-none">Reload your balance</a></div>
        <div><a href="" class="text-decoration-none">Amazon currency converter</a></div>
      </div>
      <div class="col-auto">
        <h3 class="fw-bold">Let Us Help You</h3>
        <div><a href="" class="text-decoration-none">Amazon and covid-19</a></div>
        <div><a href="" class="text-decoration-none">Your Acoount</a></div>
         <div><a href="" class="text-decoration-none">Your Orders</a></div>
        <div><a href="" class="text-decoration-none">Shipping rates and policies</a></div>
        <div><a href="" class="text-decoration-none">Returns and replacements</a></div>
        <div><a href="" class="text-decoration-none">Manage your Content and Devices</a></div>
        <div><a href="" class="text-decoration-none">Amazon assistant</a></div>
        <div><a href="" class="text-decoration-none">Help</a></div>
      </div>
    </div>
    <hr class="my-5 border border-1">
    <div class="footer-icons text-center">
      <span class="ms-3"><a href="#"><img src="/images/blob.png" alt=""></a></span>
      <span class=" p-3 border border-1 rounded-1">
        <i class="fs-3 fw-bold bi bi-globe"></i>
        <select class="form-select w-25" aria-label="Default select example" style="display: inline;">
          <option selected>English</option>
          <option value="1">French</option>
          <option value="2">Spanish</option>
          <option value="3">Chinese</option>
        </select>
      </span>
      <span class=" ms-4 p-3 border border-1 rounded-1">
        <a class="text-decoration-none" href=""> $ USD- U.S. Dollar</a>
      </span>
      <span class=" ms-4 p-3 border border-1 rounded-1">
        <a class="text-decoration-none" href=""> United States</a>
      </span>
    </div>
  </footer>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>